<div class="container">
  <div class="card">
    <div class="card-header text-center">
      <h4>Catálogo Tecnicos</h4>
    </div>
    <div class="card-body">
      <table class="table table-striped table-hover table-sm">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido 1</th>
          <th scope="col">Apellido 2</th>
          <th scope="col">Telefono</th>
          <th scope="col">Celular</th>
          <th scope="col">Correo</th>
          <th [colSpan]="2" class="text-center">
            <button class="btn btn-primary btn-sm"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="onNuevo();">
              <fa-icon [icon]="['fas','plus']"></fa-icon>
            </button>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of tecnicos">
          <th scope="row">{{item.idTecnico}}</th>
          <td>{{item.nombre}}</td>
          <td>{{item.apellido1}}</td>
          <td>{{item.apellido2}}</td>
          <td>{{item.telefono}}</td>
          <td>{{item.celular}}</td>
          <td>{{item.correo}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-warning"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                    (click)="onEditar(item.id);">
              <fa-icon [icon]="['fas','pencil']"></fa-icon>
            </button>
          </td>
          <td class="text-center">
            <button class="btn btn-sm btn-danger"
                    (click)="onEliminar(item.id, item.nombre+' '+item.apellido1+' '+item.apellido2);">
              <fa-icon [icon]="['fas','trash-can']"></fa-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer text-end">
      <div>
        <button class="btn btn-sm btn-outline-primary me-2"(click)="onFiltrar();">
          <fa-icon [icon]="['fas','filter']"></fa-icon>
          Filtrar
        </button>
        <button class="btn btn-sm btn-outline-success me-2"
                (click)="onImprimir();">
          <fa-icon [icon]="['fas','print']"></fa-icon>
          Imprimir
        </button>
        <button class="btn btn-sm btn-outline-danger"
                (click)="onCerrar();">
          <fa-icon [icon]="['fas','power-off']"></fa-icon>
          Cerrar
        </button>
      </div>
    </div>
  </div>

  <!-- Ventana del formulario -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">{{titulo}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="frmTecnico" [formGroup]="frmTecnico" (ngSubmit)="onGuardar();">
            <div class="row mb-1">
              <label for="idTecnico" class="col-sm-3 col-form-label">Id Tecnico</label>
              <div class="col-sm-9">
                <input type="text" formControlName="idTecnico" class="form-control" id="idTecnico" placeholder="Id Tecnico">
                <div class="alert alert-danger" *ngIf="E['idTecnico'].invalid && E['idTecnico'].touched">
                  <div *ngIf="E['idTecnico'].errors!['required']">El id Tecnico es obligatorio</div>
                  <div *ngIf="E['idTecnico'].errors!['maxlength']">El id debe tener 15 caracteres maximo</div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <label for="Nombre" class="col-sm-3 col-form-label">Nombre</label>
              <div class="col-sm-9">
                <input type="text" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre">
                <div class="alert alert-danger" *ngIf="E['nombre'].invalid && E['nombre'].touched">
                  <div *ngIf="E['nombre'].errors!['required']">El nombre es obligatorio</div>
                  <div *ngIf="E['nombre'].errors!['maxlength']">El nombre debe tener 30 caracteres maximo</div>
                  <div *ngIf="E['nombre'].errors!['minlength']">El nombre debe tener 2 caracteres minimo</div>
                  <div *ngIf="E['nombre'].errors!['pattern']">Nombre no valido</div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <label for="apellido1" class="col-sm-3 col-form-label">Apellido 1</label>
              <div class="col-sm-9">
                <input type="text" formControlName="apellido1" class="form-control" id="apellido1" placeholder="Apellido 1">
                <div class="alert alert-danger" *ngIf="E['apellido1'].invalid && E['apellido1'].touched">
                  <div *ngIf="E['apellido1'].errors!['required']">El apellido es obligatorio</div>
                  <div *ngIf="E['apellido1'].errors!['maxlength']">El apellido debe tener 15 caracteres maximo</div>
                  <div *ngIf="E['apellido1'].errors!['minlength']">El apellido debe tener 2 caracteres minimo</div>
                  <div *ngIf="E['apellido1'].errors!['pattern']">Apellido no valido</div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <label for="apellido2" class="col-sm-3 col-form-label">Apellido 2</label>
              <div class="col-sm-9">
                <input type="text" formControlName="apellido2" class="form-control" id="apellido2" placeholder="apellido 2">
                <div class="alert alert-danger" *ngIf="E['apellido2'].invalid && E['apellido2'].touched">
                  <div *ngIf="E['apellido2'].errors!['required']">El apellido es obligatorio</div>
                  <div *ngIf="E['apellido2'].errors!['maxlength']">El apellido debe tener 15 caracteres maximo</div>
                  <div *ngIf="E['apellido2'].errors!['minlength']">El apellido debe tener 2 caracteres minimo</div>
                  <div *ngIf="E['apellido2'].errors!['pattern']">Apellido no valido</div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <label for="telefono" class="col-sm-3 col-form-label">Telefono</label>
              <div class="col-sm-9">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="tel" formControlName="telefono" class="form-control" id="telefono" placeholder="Telefono">
                    <div class="alert alert-danger" *ngIf="E['telefono'].invalid && E['telefono'].touched">
                      <div *ngIf="E['telefono'].errors!['pattern']">Debe contener 8 numeros y caracter - en medio</div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <input type="tel" formControlName="celular" class="form-control" id="celular" placeholder="Celular">
                    <div class="alert alert-danger" *ngIf="E['celular'].invalid && E['celular'].touched">
                      <div *ngIf="E['celular'].errors!['required']">Celular es obligatorio</div>
                      <div *ngIf="E['celular'].errors!['pattern']">Debe contener 8 numeros y caracter - en medio</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mb-1">
              <label for="correo" class="col-sm-3 col-form-label">Correo</label>
              <div class="col-sm-9">
                <input type="email" formControlName="correo" class="form-control" id="correo" placeholder="correo">
                <div class="alert alert-danger" *ngIf="E['correo'].invalid && E['correo'].touched">
                  <div *ngIf="E['correo'].errors!['required']">Correo es obligatorio</div>
                </div>
              </div>
            </div>
            <div class="row">
              <label for="direccion" class="col-sm-3 col-form-label">Direccion</label>
              <div class="col-sm-9">
                <textarea id="direccion" formControlName="direccion" class="form-control" placeholder="Direccion"></textarea>
                <div class="alert alert-danger" *ngIf="E['direccion'].invalid && E['direccion'].touched">
                  <div *ngIf="E['direccion'].errors!['required']">Direccion es obligatorio</div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-outline-primary" form="frmTecnico"
                  [disabled]="frmTecnico.invalid">
            <fa-icon [icon]="['fas','save']"></fa-icon>
            Guardar
          </button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
            <fa-icon [icon]="['fas','xmark']"></fa-icon>
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
